#hastanelerimiz {
    background: linear-gradient(to right, rgb(0, 0, 240), rgba(90, 99, 198, 0.1));
  color: white;
  font-size: 5xl;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  
  
  }
  
