
.navbar-link {
    text-decoration: none;
    position: relative;
  }
  
  
  .navbar-link::before {
    content: "";
    position: absolute;
    bottom: -2px; 
    left: 0;
    width: 0;
    height: 2px; 
    background-color: #fff; 
    transition: width 0.3s ease-in-out; 
    
  }
  
  
  .navbar-link:hover::before {
    width: 100%;
  }
  